@font-face {
  font-family: "iconfont"; /* Project id 3479368 */
  src: url('iconfont.woff2?t=1655880160141') format('woff2'),
       url('iconfont.woff?t=1655880160141') format('woff'),
       url('iconfont.ttf?t=1655880160141') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tg-add-circle-outli:before {
  content: "\e703";
}

.icon-tg-add-circle:before {
  content: "\e704";
}

.icon-tg-add:before {
  content: "\e705";
}

.icon-tg-airplane:before {
  content: "\e706";
}

.icon-tg-alert:before {
  content: "\e707";
}

.icon-tg-albums:before {
  content: "\e708";
}

.icon-tg-arrow-dropdown-c:before {
  content: "\e709";
}

.icon-tg-archive:before {
  content: "\e70a";
}

.icon-tg-arrow-back:before {
  content: "\e70b";
}

.icon-tg-arrow-down:before {
  content: "\e70c";
}

.icon-tg-appstore:before {
  content: "\e70d";
}

.icon-tg-aperture:before {
  content: "\e70e";
}

.icon-tg-arrow-dropleft-c:before {
  content: "\e70f";
}

.icon-tg-analytics:before {
  content: "\e710";
}

.icon-tg-apps:before {
  content: "\e711";
}

.icon-tg-american-footbal:before {
  content: "\e712";
}

.icon-tg-alarm:before {
  content: "\e713";
}

.icon-tg-arrow-dropdown:before {
  content: "\e714";
}

.icon-tg-arrow-dropleft:before {
  content: "\e715";
}

.icon-tg-arrow-dropright-:before {
  content: "\e716";
}

.icon-tg-arrow-forward:before {
  content: "\e717";
}

.icon-tg-arrow-round-back:before {
  content: "\e718";
}

.icon-tg-arrow-round-up:before {
  content: "\e719";
}

.icon-tg-arrow-round-forw:before {
  content: "\e71a";
}

.icon-tg-arrow-up:before {
  content: "\e71b";
}

.icon-tg-arrow-round-down:before {
  content: "\e71c";
}

.icon-tg-arrow-dropup:before {
  content: "\e71d";
}

.icon-tg-at:before {
  content: "\e71e";
}

.icon-tg-arrow-dropup-cir:before {
  content: "\e71f";
}

.icon-tg-arrow-dropright:before {
  content: "\e720";
}

.icon-tg-attach:before {
  content: "\e721";
}

.icon-tg-backspace:before {
  content: "\e722";
}

.icon-tg-basket:before {
  content: "\e723";
}

.icon-tg-barcode:before {
  content: "\e724";
}

.icon-tg-basketball:before {
  content: "\e725";
}

.icon-tg-baseball:before {
  content: "\e726";
}

.icon-tg-beaker:before {
  content: "\e727";
}

.icon-tg-book:before {
  content: "\e728";
}

.icon-tg-bookmark:before {
  content: "\e729";
}

.icon-tg-browsers:before {
  content: "\e72a";
}

.icon-tg-briefcase:before {
  content: "\e72b";
}

.icon-tg-build:before {
  content: "\e72c";
}

.icon-tg-bulb:before {
  content: "\e72d";
}

.icon-tg-calculator:before {
  content: "\e72e";
}

.icon-tg-calendar:before {
  content: "\e72f";
}

.icon-tg-call:before {
  content: "\e730";
}

.icon-tg-business:before {
  content: "\e731";
}

.icon-tg-camera:before {
  content: "\e732";
}

.icon-tg-card:before {
  content: "\e733";
}

.icon-tg-cash:before {
  content: "\e734";
}

.icon-tg-chatboxes:before {
  content: "\e735";
}

.icon-tg-checkbox-outline:before {
  content: "\e736";
}

.icon-tg-chatbubbles:before {
  content: "\e737";
}

.icon-tg-checkmark-circle:before {
  content: "\e738";
}

.icon-tg-checkbox:before {
  content: "\e739";
}

.icon-tg-checkmark-circle1:before {
  content: "\e73a";
}

.icon-tg-checkmark:before {
  content: "\e73b";
}

.icon-tg-close:before {
  content: "\e73c";
}

.icon-tg-close-circle:before {
  content: "\e73d";
}

.icon-tg-cloud-circle:before {
  content: "\e73e";
}

.icon-tg-close-circle-out:before {
  content: "\e73f";
}

.icon-tg-cloud-done:before {
  content: "\e740";
}

.icon-tg-cloud-download:before {
  content: "\e741";
}

.icon-tg-cloud-upload:before {
  content: "\e742";
}

.icon-tg-cloud-outline:before {
  content: "\e743";
}

.icon-tg-cloudy:before {
  content: "\e744";
}

.icon-tg-code-working:before {
  content: "\e745";
}

.icon-tg-code:before {
  content: "\e746";
}

.icon-tg-color-palette:before {
  content: "\e747";
}

.icon-tg-contact:before {
  content: "\e748";
}

.icon-tg-copy:before {
  content: "\e749";
}

.icon-tg-create:before {
  content: "\e74a";
}

.icon-tg-document:before {
  content: "\e74b";
}

.icon-tg-crop:before {
  content: "\e74c";
}

.icon-tg-cube:before {
  content: "\e74d";
}

.icon-tg-desktop:before {
  content: "\e74e";
}

.icon-tg-disc:before {
  content: "\e74f";
}

.icon-tg-download:before {
  content: "\e750";
}

.icon-tg-eye-off:before {
  content: "\e751";
}

.icon-tg-easel:before {
  content: "\e752";
}

.icon-tg-expand:before {
  content: "\e753";
}

.icon-tg-fastforward:before {
  content: "\e754";
}

.icon-tg-eye:before {
  content: "\e755";
}

.icon-tg-female:before {
  content: "\e756";
}

.icon-tg-filing:before {
  content: "\e757";
}

.icon-tg-film:before {
  content: "\e758";
}

.icon-tg-folder:before {
  content: "\e759";
}

.icon-tg-flower:before {
  content: "\e75a";
}

.icon-tg-funnel:before {
  content: "\e75b";
}

.icon-tg-gift:before {
  content: "\e75c";
}

.icon-tg-git-commit:before {
  content: "\e75d";
}

.icon-tg-git-compare:before {
  content: "\e75e";
}

.icon-tg-heart:before {
  content: "\e75f";
}

.icon-tg-heart-empty:before {
  content: "\e760";
}

.icon-tg-home:before {
  content: "\e761";
}

.icon-tg-image:before {
  content: "\e762";
}

.icon-tg-images:before {
  content: "\e763";
}

.icon-tg-information-circ:before {
  content: "\e764";
}

.icon-tg-information-circ1:before {
  content: "\e765";
}

.icon-tg-keypad:before {
  content: "\e766";
}

.icon-tg-list-box:before {
  content: "\e767";
}

.icon-tg-list:before {
  content: "\e768";
}

.icon-tg-log-in:before {
  content: "\e769";
}

.icon-tg-log-out:before {
  content: "\e76a";
}

.icon-tg-mail:before {
  content: "\e76b";
}

.icon-tg-mail-open:before {
  content: "\e76c";
}

.icon-tg-mail-unread:before {
  content: "\e76d";
}

.icon-tg-medkit:before {
  content: "\e76e";
}

.icon-tg-menu:before {
  content: "\e76f";
}

.icon-tg-mic-off:before {
  content: "\e770";
}

.icon-tg-journal:before {
  content: "\e771";
}

.icon-tg-mic:before {
  content: "\e772";
}

.icon-tg-navigate:before {
  content: "\e773";
}

.icon-tg-musical-notes:before {
  content: "\e774";
}

.icon-tg-move:before {
  content: "\e775";
}

.icon-tg-notifications-of:before {
  content: "\e776";
}

.icon-tg-notifications:before {
  content: "\e777";
}

.icon-tg-notifications-ou:before {
  content: "\e778";
}

.icon-tg-paper-plane:before {
  content: "\e779";
}

.icon-tg-pause:before {
  content: "\e77a";
}

.icon-tg-photos:before {
  content: "\e77b";
}

.icon-tg-pin:before {
  content: "\e77c";
}

.icon-tg-play:before {
  content: "\e77d";
}

.icon-tg-print:before {
  content: "\e77e";
}

.icon-tg-pricetag:before {
  content: "\e77f";
}

.icon-tg-pricetags:before {
  content: "\e780";
}

.icon-tg-power:before {
  content: "\e781";
}

.icon-tg-qr-scanner:before {
  content: "\e782";
}

.icon-tg-rocket:before {
  content: "\e783";
}

.icon-tg-search:before {
  content: "\e784";
}

.icon-tg-settings:before {
  content: "\e785";
}

.icon-tg-skip-backward:before {
  content: "\e786";
}

.icon-tg-skip-forward:before {
  content: "\e787";
}

.icon-tg-send:before {
  content: "\e788";
}

.icon-tg-square-outline:before {
  content: "\e789";
}

.icon-tg-square:before {
  content: "\e78a";
}

.icon-tg-star-half:before {
  content: "\e78b";
}

.icon-tg-star-outline:before {
  content: "\e78c";
}

.icon-tg-star:before {
  content: "\e78d";
}

.icon-tg-switch:before {
  content: "\e78e";
}

.icon-tg-wifi:before {
  content: "\e78f";
}

